name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: joinframework/join-ci:latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: hugo

      - name: Upload Artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: hugo-ui
          path: public
